In [59]:
import pandas as pd
import numpy as np

In [60]:
msuurl = 'https://www.sports-reference.com/cbb/schools/michigan/2018-gamelogs.html#sgl-basic::none'

In [61]:
'''Read team gamelog'''
df = pd.read_html(msuurl)[0]

In [63]:
'''remove oppenent columns'''
df = df.iloc[:, 0:23]

In [64]:
df.head()

,Unnamed: 0_level_0,School,Unnamed: 2_level_0,Opponent,Unnamed: 4_level_0,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Unnamed: 8_level_0,Unnamed: 9_level_0,...,Unnamed: 13_level_0,Unnamed: 14_level_0,Unnamed: 15_level_0,Unnamed: 16_level_0,Unnamed: 17_level_0,Unnamed: 18_level_0,Unnamed: 19_level_0,Unnamed: 20_level_0,Unnamed: 21_level_0,Unnamed: 22_level_0
,G,Date,,Opp,W/L,Tm,Opp,FG,FGA,FG%,...,FT,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF
0,1,2017-11-11,NaN,North Florida,W,86,66,33,71,.465,...,11,16,.688,12,35,21,12,2,10,12
1,2,2017-11-13,NaN,Central Michigan,W,72,65,26,59,.441,...,10,12,.833,6,25,14,5,3,4,11
2,3,2017-11-16,NaN,Southern Miss,W,61,47,23,47,.489,...,7,9,.778,8,31,13,5,3,9,10
3,4,2017-11-20,N,LSU,L,75,77,27,59,.458,...,15,21,.714,13,27,12,6,1,7,20
4,5,2017-11-21,N,Chaminade,W,102,64,37,57,.649,...,13,18,.722,6,32,22,9,6,8,12

In [65]:
'''Remove Double column headers'''
dubcols = df.columns.tolist()
cols = [col[1] for col in dubcols]
df.columns = cols

In [66]:
df.columns

Index(['G', 'Date', ' ', 'Opp', 'W/L', 'Tm', 'Opp', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB', 'TRB', 'AST', 'STL', 'BLK',
       'TOV', 'PF'],
      dtype='object')

In [67]:
'''Rename Columns'''
newcols = ['G', 'Date', 'Blank', 'Opp', 'W', 'Pts', 'PtsA', 'FG', 'FGA', 
           'FG%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB', 'RB', 
           'AST', 'STL', 'BLK', 'TO', 'PF']
df.columns = newcols

In [68]:
df.tail()

,G,Date,Blank,Opp,W,Pts,PtsA,FG,FGA,FG%,...,FT,FTA,FT%,ORB,RB,AST,STL,BLK,TO,PF
40,39,2018-03-24,N,Florida State,W,58,54,19,49,.388,...,16,24,.667,7,29,8,6,4,10,16
41,40,2018-03-31,N,Loyola (IL),W,69,57,25,59,.424,...,12,18,.667,10,35,8,10,2,11,11
42,NaN,School,NaN,Opponent,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,G,Date,NaN,Opp,W/L,Tm,Opp,FG,FGA,FG%,...,FT,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF
44,41,2018-04-02,N,Villanova,L,62,79,24,55,.436,...,11,18,.611,5,26,6,6,1,10,20

In [69]:
'''Remove divider rows'''
df = df[(df['Date'] != 'School') & (df['Date'] != 'Date')]

In [70]:
df.tail()

,G,Date,Blank,Opp,W,Pts,PtsA,FG,FGA,FG%,...,FT,FTA,FT%,ORB,RB,AST,STL,BLK,TO,PF
38,37,2018-03-17,N,Houston,W,64,63,21,59,.356,...,14,20,.700,7,33,13,4,5,7,22
39,38,2018-03-22,N,Texas A&M,W,99,72,39,63,.619,...,7,8,.875,2,26,21,12,0,6,15
40,39,2018-03-24,N,Florida State,W,58,54,19,49,.388,...,16,24,.667,7,29,8,6,4,10,16
41,40,2018-03-31,N,Loyola (IL),W,69,57,25,59,.424,...,12,18,.667,10,35,8,10,2,11,11
44,41,2018-04-02,N,Villanova,L,62,79,24,55,.436,...,11,18,.611,5,26,6,6,1,10,20

In [10]:
def teams_dict(filepath):
    '''
    Create dictionary of school names and formatted school names for mapping
    '''
    team_names = pd.read_csv(filepath)
    team_names = team_names[['School', 'School_format']]
    team_dict = {}
    schools = team_names['School'].tolist()
    schools_format = team_names['School_format'].tolist()
    for school, schform in zip(schools, schools_format):
        team_dict[school] = schform
    return team_dict

In [11]:
def school_name_transform(school_name):
    school_name = school_name.lower()
    school_name = school_name.replace(" & ", " ")
    school_name = school_name.replace("&", "")
    school_name = school_name.replace("ncaa", "")
    school_name = school_name.strip()
    school_name = school_name.replace(" ", "-")
    school_name = school_name.replace("(", "")
    school_name = school_name.replace(")", "")
    school_name = school_name.replace(".", "")
    school_name = school_name.replace("'", "")

    if school_name == 'siu-edwardsville':
        school_name = 'southern-illinois-edwardsville'
    elif school_name == 'vmi':
        school_name = 'virginia-military-institute'
    elif school_name == 'uc-davis':
        school_name = 'california-davis'
    elif school_name == 'uc-irvine':
        school_name = 'california-irvine'
    elif school_name == 'uc-riverside':
        school_name = 'california-riverside'
    elif school_name == 'uc-santa-barbara':
        school_name = 'california-santa-barbara'

    return school_name

In [12]:
'''reformat Opponent team name column strings'''
team_names_sos_filepath = '/Users/sec/galvanize/capstone1/team_list/sos_team_list_2018_final.csv'
# df['Opp'] = df['Opp'].map(teams_dict(team_names_sos_filepath))
df['Opp'] = df['Opp'].apply(school_name_transform)

In [13]:
'''Only take the first charcter in W field then map to 0's and 1's.
        (Ties and overtime have excess characters)'''
df['W'] = df['W'].astype(str).str[0]
df['W'] = df['W'].map({'W': 1, 'L': 0})

In [14]:
'''Create win precentage and rolling average Features'''
df['Ws'] = df['W'].cumsum(axis=0)
df['Wp'] = df['Ws'].astype(int) / df['G'].astype(int)
df['ppg'] = df['Pts'].rolling(window=5,center=False).mean()
df['pApg'] = df['PtsA'].rolling(window=5,center=False).mean()
df['FGp'] = df['FG%'].rolling(window=5,center=False).mean()
df['3Pp'] = df['3P%'].rolling(window=5,center=False).mean()
df['FTp'] = df['FT%'].rolling(window=5,center=False).mean()
df['ORBpg'] = df['ORB'].rolling(window=5,center=False).mean()
df['RBpg'] = df['RB'].rolling(window=5,center=False).mean()
df['ASTpg'] = df['AST'].rolling(window=5,center=False).mean()
df['STLpg'] = df['STL'].rolling(window=5,center=False).mean()
df['BLKpg'] = df['BLK'].rolling(window=5,center=False).mean()
df['TOpg'] = df['TO'].rolling(window=5,center=False).mean()
df['PFpg'] = df['PF'].rolling(window=5,center=False).mean()

In [15]:
df.head()

,G,Date,Blank,Opp,W,Pts,PtsA,FG,FGA,FG%,...,FGp,3Pp,FTp,ORBpg,RBpg,ASTpg,STLpg,BLKpg,TOpg,PFpg
0,1,2016-11-11,N,arizona,0,63,65,25,58,.431,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2016-11-15,N,kentucky,0,48,69,20,61,.328,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,2016-11-18,NaN,mississippi-valley-state,1,100,53,39,59,.661,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,2016-11-20,NaN,florida-gulf-coast,1,78,77,25,49,.510,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2016-11-23,N,st-johns-ny,1,73,62,25,58,.431,...,0.4722,0.3974,0.5402,9.2,37.2,18.8,2.8,4.2,15.0,19.0

In [16]:
'''Remove columns after rolling ave calcs'''
df = df.drop(['G', 'Blank', 'Pts', 'PtsA', 'FG', 'FGA', 'FG%',
              '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB', 'RB', 
              'AST', 'STL', 'BLK', 'TO', 'PF'], axis=1)

In [17]:
df = df.dropna()

In [18]:
'''Add Team Column'''
team = 'michigan-state'
df['Tm'] = team

In [19]:
def sos_dict(filepath):
    '''
    Create dictionary of school names and strength of schedule for mapping
    '''
    team_sos = pd.read_csv(filepath)
    team_sos = team_sos[['School_format', 'SOS']]
    sos_dict = {}
    schools = team_sos['School_format'].tolist()
    sos = team_sos['SOS'].tolist()
    for school, sos in zip(schools, sos):
        sos_dict[school] = sos
    return sos_dict

In [20]:
def sos_dict_creator(season):
    '''
    Inputs: season

    Output: Ditionary to match team with sos
    '''

    url = 'https://www.sports-reference.com/cbb/seasons/{}-school-stats.html#basic_school_stats::none'.format(season)

    '''Read season school stats'''
    df = pd.read_html(url)[0]

    '''Transform'''

    '''Remove double Headers'''
    dub_header = df.columns.tolist()
    cols = [col[1].lower() for col in dub_header]
    df.columns = cols

    '''Pick needed columns'''
    df = df[['school', 'sos']]

    '''Add season column'''
    df['season'] = season

    '''Update School Names'''
    df['school'] = df['school'].apply(school_name_transform)

    '''Remove divider rows'''
    df = df[df['school'] != 'overall']
    df = df[df['school'] != 'school']
    df.reset_index(inplace=True, level=None)
    df = df.drop(['index'], axis=1)

    '''Transform to dict'''
    sos_dict = {k: float(v)for k, v in zip(df['school'], df['sos'])}

    return sos_dict

In [21]:
'''Add SOS columns'''
# df['sos'] = df['Tm'].map(sos_dict(team_names_sos_filepath))
df['sos'] = df['Tm'].map(sos_dict_creator(2018))

In [22]:
df.head()

,Date,Opp,W,Ws,Wp,ppg,pApg,FGp,3Pp,FTp,ORBpg,RBpg,ASTpg,STLpg,BLKpg,TOpg,PFpg,Tm,sos
4,2016-11-23,st-johns-ny,1,3,0.600000,72.4,65.2,0.4722,0.3974,0.5402,9.2,37.2,18.8,2.8,4.2,15.0,19.0,michigan-state,7.1
5,2016-11-24,baylor,0,3,0.500000,71.4,66.8,0.4722,0.3942,0.5846,7.8,37.0,19.2,2.6,5.2,14.0,17.2,michigan-state,7.1
6,2016-11-25,wichita-state,1,4,0.571429,77.2,67.4,0.5066,0.4438,0.6514,6.8,35.6,21.4,3.0,5.6,13.0,18.2,michigan-state,7.1
7,2016-11-29,duke,0,4,0.500000,71.0,72.4,0.4726,0.3922,0.6742,6.0,34.8,18.0,2.4,5.0,13.6,19.2,michigan-state,7.1
8,2016-12-03,oral-roberts,1,5,0.555556,71.4,72.2,0.4594,0.3564,0.7060,7.0,36.2,17.6,2.6,5.0,13.2,19.4,michigan-state,7.1

Datetime work for tourney v season game labels

In [23]:
from datetime import date
tourney2017start = date(2017,3,14)
tourney2017end = date(2017,4,3)

In [24]:
'''datetime to date'''
df['just_date'] = pd.to_datetime(df['Date']).dt.date

In [25]:
def tourney_game_label(row):
    '''
    Create Column for tourney games
    '''
    
    if row['just_date'] >= tourney2017start and row['just_date'] <= tourney2017end:

        row['game_type'] = 'tourney2017'

    else:
        
        row['game_type'] = 'season'

    return row

In [26]:
df = df.apply(tourney_game_label, axis=1)

In [27]:
df

,Date,Opp,W,Ws,Wp,ppg,pApg,FGp,3Pp,FTp,...,RBpg,ASTpg,STLpg,BLKpg,TOpg,PFpg,Tm,sos,just_date,game_type
4,2016-11-23,st-johns-ny,1,3,0.600000,72.4,65.2,0.4722,0.3974,0.5402,...,37.2,18.8,2.8,4.2,15.0,19.0,michigan-state,7.1,2016-11-23,season
5,2016-11-24,baylor,0,3,0.500000,71.4,66.8,0.4722,0.3942,0.5846,...,37.0,19.2,2.6,5.2,14.0,17.2,michigan-state,7.1,2016-11-24,season
6,2016-11-25,wichita-state,1,4,0.571429,77.2,67.4,0.5066,0.4438,0.6514,...,35.6,21.4,3.0,5.6,13.0,18.2,michigan-state,7.1,2016-11-25,season
7,2016-11-29,duke,0,4,0.500000,71.0,72.4,0.4726,0.3922,0.6742,...,34.8,18.0,2.4,5.0,13.6,19.2,michigan-state,7.1,2016-11-29,season
8,2016-12-03,oral-roberts,1,5,0.555556,71.4,72.2,0.4594,0.3564,0.7060,...,36.2,17.6,2.6,5.0,13.2,19.4,michigan-state,7.1,2016-12-03,season
9,2016-12-06,youngstown-state,1,6,0.600000,72.2,71.2,0.4746,0.3454,0.6122,...,36.4,20.0,3.8,5.8,13.0,18.6,michigan-state,7.1,2016-12-06,season
10,2016-12-10,tennessee-tech,1,7,0.636364,74.8,69.2,0.4820,0.3646,0.5700,...,37.6,20.4,3.8,5.8,13.0,20.2,michigan-state,7.1,2016-12-10,season
11,2016-12-18,northeastern,0,7,0.583333,74.0,71.0,0.4782,0.3392,0.5596,...,36.8,19.8,4.8,6.0,13.0,19.4,michigan-state,7.1,2016-12-18,season
12,2016-12-21,oakland,1,8,0.615385,75.6,68.4,0.4758,0.3642,0.5466,...,36.4,19.6,6.4,7.2,13.0,20.4,michigan-state,7.1,2016-12-21,season
13,2016-12-27,minnesota,1,9,0.642857,74.6,68.0,0.4780,0.3498,0.4906,...,36.2,19.2,7.4,7.0,13.2,22.8,michigan-state,7.1,2016-12-27,season
14,2016-12-30,northwestern,1,10,0.666667,71.4,67.0,0.4624,0.3328,0.5936,...,34.8,16.4,7.0,6.2,13.2,23.4,michigan-state,7.1,2016-12-30,season
15,2017-01-04,rutgers,1,11,0.687500,75.8,67.4,0.4846,0.3528,0.6256,...,34.8,17.8,7.6,7.0,12.8,23.4,michigan-state,7.1,2017-01-04,season
16,2017-01-07,penn-state,0,11,0.647059,73.8,65.6,0.4706,0.3510,0.6454,...,33.8,16.6,7.6,6.8,13.4,24.4,michigan-state,7.1,2017-01-07,season
17,2017-01-11,minnesota,1,12,0.666667,71.4,62.0,0.4600,0.3348,0.6804,...,34.2,16.6,6.6,6.8,12.6,22.2,michigan-state,7.1,2017-01-11,season
18,2017-01-15,ohio-state,0,12,0.631579,69.8,61.6,0.4690,0.3740,0.7036,...,32.8,16.6,5.4,5.6,13.4,19.8,michigan-state,7.1,2017-01-15,season
19,2017-01-21,indiana,0,12,0.600000,72.6,67.6,0.4720,0.4158,0.7192,...,30.8,16.0,4.8,5.2,13.4,20.2,michigan-state,7.1,2017-01-21,season
22,2017-01-24,purdue,0,12,0.571429,68.6,71.4,0.4600,0.4074,0.6880,...,28.8,14.8,4.8,4.4,14.0,20.2,michigan-state,7.1,2017-01-24,season
23,2017-01-29,michigan,1,13,0.590909,70.0,69.4,0.4822,0.4376,0.6930,...,29.8,15.2,5.0,4.0,12.8,18.6,michigan-state,7.1,2017-01-29,season
24,2017-02-02,nebraska,1,14,0.608696,71.4,72.2,0.5086,0.4956,0.6282,...,27.4,15.0,4.6,3.4,13.0,20.2,michigan-state,7.1,2017-02-02,season
25,2017-02-07,michigan,0,14,0.583333,69.4,75.0,0.5044,0.4634,0.6474,...,26.6,13.6,4.6,3.2,13.4,20.2,michigan-state,7.1,2017-02-07,season
26,2017-02-11,iowa,1,15,0.600000,69.8,71.8,0.5122,0.4438,0.6382,...,29.4,16.2,5.2,3.8,14.6,20.0,michigan-state,7.1,2017-02-11,season
27,2017-02-14,ohio-state,1,16,0.615385,70.0,68.2,0.5046,0.4322,0.6574,...,32.0,16.2,5.0,3.4,15.0,19.4,michigan-state,7.1,2017-02-14,season
28,2017-02-18,purdue,0,16,0.592593,68.6,71.8,0.4850,0.4078,0.5896,...,32.4,16.8,4.2,3.0,15.8,20.4,michigan-state,7.1,2017-02-18,season
29,2017-02-23,nebraska,1,17,0.607143,71.8,74.0,0.4670,0.3318,0.6382,...,35.2,17.6,4.8,3.4,14.8,20.2,michigan-state,7.1,2017-02-23,season
30,2017-02-26,wisconsin,1,18,0.620690,77.2,71.6,0.4646,0.3516,0.6874,...,38.6,19.2,4.6,3.6,13.6,20.8,michigan-state,7.1,2017-02-26,season
31,2017-03-01,illinois,0,18,0.600000,75.8,73.0,0.4642,0.3586,0.7046,...,36.2,16.2,3.8,3.4,13.0,20.4,michigan-state,7.1,2017-03-01,season
32,2017-03-04,maryland,0,18,0.580645,73.0,72.4,0.4414,0.3548,0.7166,...,36.2,14.8,3.2,3.4,11.4,20.4,michigan-state,7.1,2017-03-04,season
33,2017-03-09,penn-state,1,19,0.593750,76.0,66.6,0.4548,0.3792,0.7700,...,38.4,15.4,3.2,4.6,10.6,20.0,michigan-state,7.1,2017-03-09,season
34,2017-03-10,minnesota,0,19,0.575758,70.0,64.8,0.4268,0.3658,0.7614,...,37.8,13.8,2.6,4.0,11.0,19.6,michigan-state,7.1,2017-03-10,season
35,2017-03-17,miami-fl,1,20,0.588235,68.8,61.6,0.4466,0.3434,0.7502,...,36.4,13.8,2.4,4.4,11.2,18.8,michigan-state,7.1,2017-03-17,tourney2017
36,2017-03-19,kansas,0,20,0.571429,68.8,65.0,0.4382,0.3368,0.7314,...,34.8,14.6,2.8,3.8,10.2,18.2,michigan-state,7.1,2017-03-19,tourney2017