In [1]:
import pandas as pd
import numpy as np

In [2]:
games = pd.read_pickle('/Users/sec/galvanize/capstone1/merge_test_2014.pkl')

In [3]:
games['count'] = games.groupby('ID').cumcount() + 1

In [4]:
games1 = games[games['count'] == 1]
games2 = games[games['count'] == 2]

In [5]:
games2.columns

Index(['Date', 'Opp', 'W', 'Ws', 'Wp', 'ppg', 'pApg', 'FGp', '3Pp', 'FTp',
       'ORBpg', 'RBpg', 'ASTpg', 'STLpg', 'BLKpg', 'TOpg', 'PFpg', 'Tm', 'sos',
       'just_date', 'GameType', 'matchup', 'ID', 'count'],
      dtype='object')

In [6]:
games2 = games2.iloc[:, 4:23] 
games2 = games2.drop(['GameType', 'matchup', 'just_date'], axis=1)
games2.head()

,Wp,ppg,pApg,FGp,3Pp,FTp,ORBpg,RBpg,ASTpg,STLpg,BLKpg,TOpg,PFpg,Tm,sos,ID
182,0.636364,74.0,73.8,0.3988,0.3186,0.7580,9.6,32.6,14.2,8.6,6.2,11.2,21.0,arkansas,2.95,"alabama,arkansas,2014-02-05"
188,0.677419,79.8,74.8,0.4256,0.3930,0.7922,8.0,29.6,15.8,9.4,5.6,12.0,21.6,arkansas,2.95,"alabama,arkansas,2014-03-08"
232,0.526316,69.8,69.4,0.4530,0.3510,0.6678,7.2,27.6,10.2,6.0,2.6,9.4,19.6,army,-4.65,"american,army,2014-01-25"
237,0.481481,61.8,68.4,0.4324,0.3506,0.5524,8.0,26.8,12.2,5.4,3.6,12.6,16.6,army,-4.65,"american,army,2014-02-22"
245,0.470588,67.4,76.8,0.4248,0.3708,0.6834,6.6,26.4,9.2,6.0,3.6,13.6,27.2,auburn,4.02,"arkansas,auburn,2014-01-25"

In [7]:
g2cols = games2.columns.tolist()

In [8]:
OPcols = ['OP{}'.format(col) if col != 'ID' else col for col in g2cols]

In [9]:
OPcols

['OPWp',
 'OPppg',
 'OPpApg',
 'OPFGp',
 'OP3Pp',
 'OPFTp',
 'OPORBpg',
 'OPRBpg',
 'OPASTpg',
 'OPSTLpg',
 'OPBLKpg',
 'OPTOpg',
 'OPPFpg',
 'OPTm',
 'OPsos',
 'ID']

In [10]:
games2.columns = OPcols

In [11]:
games2.head()

,OPWp,OPppg,OPpApg,OPFGp,OP3Pp,OPFTp,OPORBpg,OPRBpg,OPASTpg,OPSTLpg,OPBLKpg,OPTOpg,OPPFpg,OPTm,OPsos,ID
182,0.636364,74.0,73.8,0.3988,0.3186,0.7580,9.6,32.6,14.2,8.6,6.2,11.2,21.0,arkansas,2.95,"alabama,arkansas,2014-02-05"
188,0.677419,79.8,74.8,0.4256,0.3930,0.7922,8.0,29.6,15.8,9.4,5.6,12.0,21.6,arkansas,2.95,"alabama,arkansas,2014-03-08"
232,0.526316,69.8,69.4,0.4530,0.3510,0.6678,7.2,27.6,10.2,6.0,2.6,9.4,19.6,army,-4.65,"american,army,2014-01-25"
237,0.481481,61.8,68.4,0.4324,0.3506,0.5524,8.0,26.8,12.2,5.4,3.6,12.6,16.6,army,-4.65,"american,army,2014-02-22"
245,0.470588,67.4,76.8,0.4248,0.3708,0.6834,6.6,26.4,9.2,6.0,3.6,13.6,27.2,auburn,4.02,"arkansas,auburn,2014-01-25"

In [12]:
games = pd.merge(games1, games2, how='left', on='ID')

In [13]:
games.head()

,Date,Opp,W,Ws,Wp,ppg,pApg,FGp,3Pp,FTp,...,OPFTp,OPORBpg,OPRBpg,OPASTpg,OPSTLpg,OPBLKpg,OPTOpg,OPPFpg,OPTm,OPsos
0,2013-11-25,xavier,0,2,0.250000,62.0,73.4,0.3784,0.3296,0.7370,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013-11-30,towson,0,2,0.200000,63.8,68.8,0.3938,0.3270,0.7078,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-01-23,lamar,0,7,0.368421,69.4,78.2,0.4144,0.3772,0.7482,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013-11-27,richmond,0,3,0.500000,70.0,70.6,0.4688,0.3280,0.6782,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013-11-30,colorado,0,3,0.428571,68.8,72.6,0.4646,0.3372,0.6886,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
games = games.drop(['Date', 'Ws', 'just_date', 'Opp', 'count', 'ID', 'matchup'], axis=1)
games = games.dropna()

In [15]:
games.head()

,W,Wp,ppg,pApg,FGp,3Pp,FTp,ORBpg,RBpg,ASTpg,...,OPFTp,OPORBpg,OPRBpg,OPASTpg,OPSTLpg,OPBLKpg,OPTOpg,OPPFpg,OPTm,OPsos
11,1,0.600000,73.0,69.0,0.4668,0.3462,0.6248,9.8,30.2,11.8,...,0.6304,11.8,30.8,5.8,4.4,2.4,13.4,21.8,bethune-cookman,-10.00
12,1,0.615385,60.0,70.8,0.3772,0.2936,0.5146,11.8,31.6,10.4,...,0.6130,10.2,34.0,14.8,6.0,4.6,13.8,21.4,marshall,-1.30
13,1,0.666667,67.2,70.0,0.3952,0.3180,0.6418,11.8,34.2,10.6,...,0.7502,8.6,35.2,13.8,7.0,6.4,13.4,18.4,ohio,-0.22
14,0,0.647059,66.8,66.6,0.4110,0.2948,0.6214,12.4,34.4,10.6,...,0.7432,11.2,32.8,14.6,6.8,2.0,10.2,21.2,toledo,-0.26
15,0,0.653846,64.6,63.6,0.4212,0.2708,0.6898,10.8,30.0,9.8,...,0.7634,8.8,34.4,16.4,7.0,3.2,10.8,14.2,buffalo,-2.59

In [16]:
games.columns

Index(['W', 'Wp', 'ppg', 'pApg', 'FGp', '3Pp', 'FTp', 'ORBpg', 'RBpg', 'ASTpg',
       'STLpg', 'BLKpg', 'TOpg', 'PFpg', 'Tm', 'sos', 'GameType', 'OPWp',
       'OPppg', 'OPpApg', 'OPFGp', 'OP3Pp', 'OPFTp', 'OPORBpg', 'OPRBpg',
       'OPASTpg', 'OPSTLpg', 'OPBLKpg', 'OPTOpg', 'OPPFpg', 'OPTm', 'OPsos'],
      dtype='object')