In [1]:
import pandas as pd
import numpy as np

In [2]:
games = pd.read_pickle('/Users/sec/galvanize/capstone1/test2.pkl')

In [3]:
games.columns

Index(['Date', 'Opp', 'W', 'GameType', 'Ws', 'Wp', 'ppg', 'pApg', 'FGp', '3Pp',
       'FTp', 'ORBpg', 'RBpg', 'ASTpg', 'STLpg', 'BLKpg', 'TOpg', 'PFpg', 'Tm',
       'sos', 'matchup', 'ID'],
      dtype='object')

In [4]:
games['count'] = games.groupby('ID').cumcount() + 1

In [5]:
games1 = games[games['count'] == 1]
games2 = games[games['count'] == 2]

In [6]:
games2.columns

Index(['Date', 'Opp', 'W', 'GameType', 'Ws', 'Wp', 'ppg', 'pApg', 'FGp', '3Pp',
       'FTp', 'ORBpg', 'RBpg', 'ASTpg', 'STLpg', 'BLKpg', 'TOpg', 'PFpg', 'Tm',
       'sos', 'matchup', 'ID', 'count'],
      dtype='object')

In [7]:
# games2 = games2.iloc[:, 5:] 
games2 = games2.drop(['Date', 'Opp', 'W', 'GameType', 'Ws', 'matchup', 'count'], axis=1)
games2.head()

,Wp,ppg,pApg,FGp,3Pp,FTp,ORBpg,RBpg,ASTpg,STLpg,BLKpg,TOpg,PFpg,Tm,sos,ID
150,0.800000,80.4,74.6,0.4754,0.4012,0.6840,10.4,33.6,13.6,6.2,3.0,11.8,22.2,arkansas,2.95,"alabama,arkansas,2017-02-01"
195,0.411765,70.2,73.0,0.4120,0.3220,0.6860,7.2,36.2,14.4,5.4,2.2,13.0,20.0,army,-4.65,"american,army,2017-01-14"
200,0.360000,73.0,81.4,0.4444,0.3588,0.5966,7.8,30.8,17.2,6.8,1.6,14.0,21.6,army,-4.65,"american,army,2017-02-11"
203,0.400000,64.6,64.2,0.4460,0.3254,0.6176,7.6,33.6,14.2,5.4,1.8,19.8,18.0,army,-4.65,"american,army,2017-02-28"
214,0.666667,74.6,81.2,0.4142,0.3590,0.6636,11.8,33.2,9.6,5.4,5.4,13.2,22.8,auburn,4.02,"alabama,auburn,2017-01-21"

In [8]:
g2cols = games2.columns.tolist()

In [9]:
OPcols = ['OP{}'.format(col) if col != 'ID' else col for col in g2cols]

In [10]:
OPcols

['OPWp',
 'OPppg',
 'OPpApg',
 'OPFGp',
 'OP3Pp',
 'OPFTp',
 'OPORBpg',
 'OPRBpg',
 'OPASTpg',
 'OPSTLpg',
 'OPBLKpg',
 'OPTOpg',
 'OPPFpg',
 'OPTm',
 'OPsos',
 'ID']

In [11]:
games2.columns = OPcols

In [12]:
games2.head()

,OPWp,OPppg,OPpApg,OPFGp,OP3Pp,OPFTp,OPORBpg,OPRBpg,OPASTpg,OPSTLpg,OPBLKpg,OPTOpg,OPPFpg,OPTm,OPsos,ID
150,0.800000,80.4,74.6,0.4754,0.4012,0.6840,10.4,33.6,13.6,6.2,3.0,11.8,22.2,arkansas,2.95,"alabama,arkansas,2017-02-01"
195,0.411765,70.2,73.0,0.4120,0.3220,0.6860,7.2,36.2,14.4,5.4,2.2,13.0,20.0,army,-4.65,"american,army,2017-01-14"
200,0.360000,73.0,81.4,0.4444,0.3588,0.5966,7.8,30.8,17.2,6.8,1.6,14.0,21.6,army,-4.65,"american,army,2017-02-11"
203,0.400000,64.6,64.2,0.4460,0.3254,0.6176,7.6,33.6,14.2,5.4,1.8,19.8,18.0,army,-4.65,"american,army,2017-02-28"
214,0.666667,74.6,81.2,0.4142,0.3590,0.6636,11.8,33.2,9.6,5.4,5.4,13.2,22.8,auburn,4.02,"alabama,auburn,2017-01-21"

In [13]:
games = pd.merge(games1, games2, how='left', on='ID')

In [14]:
games.columns

Index(['Date', 'Opp', 'W', 'GameType', 'Ws', 'Wp', 'ppg', 'pApg', 'FGp', '3Pp',
       'FTp', 'ORBpg', 'RBpg', 'ASTpg', 'STLpg', 'BLKpg', 'TOpg', 'PFpg', 'Tm',
       'sos', 'matchup', 'ID', 'count', 'OPWp', 'OPppg', 'OPpApg', 'OPFGp',
       'OP3Pp', 'OPFTp', 'OPORBpg', 'OPRBpg', 'OPASTpg', 'OPSTLpg', 'OPBLKpg',
       'OPTOpg', 'OPPFpg', 'OPTm', 'OPsos'],
      dtype='object')

In [15]:
games = games.drop(['Date', 'Ws', 'Opp', 'count', 'ID', 'matchup', 'count', 'Tm', 'OPTm'], axis=1)
games = games.dropna()

In [16]:
games.head()

,W,GameType,Wp,ppg,pApg,FGp,3Pp,FTp,ORBpg,RBpg,...,OP3Pp,OPFTp,OPORBpg,OPRBpg,OPASTpg,OPSTLpg,OPBLKpg,OPTOpg,OPPFpg,OPsos
10,0,season2017,0.833333,76.8,61.6,0.4614,0.3736,0.7474,8.8,32.6,...,0.4560,0.6872,8.0,35.0,18.4,6.4,3.4,11.2,17.0,3.19
11,0,season2017,0.750000,77.8,65.6,0.4936,0.4072,0.7208,8.8,30.4,...,0.4332,0.6496,9.0,33.8,16.6,5.8,4.4,12.0,18.6,-0.41
12,1,season2017,0.700000,72.0,62.0,0.4784,0.4136,0.6546,9.8,31.6,...,0.3912,0.6958,8.2,29.6,17.6,6.2,3.4,14.0,22.6,-1.30
13,1,season2017,0.727273,78.8,67.0,0.5026,0.4208,0.6568,10.2,34.2,...,0.3498,0.5564,8.2,33.2,13.2,5.0,3.8,12.8,18.4,0.36
14,1,season2017,0.750000,77.4,74.8,0.4792,0.4138,0.6280,9.0,32.0,...,0.3438,0.6548,6.6,34.0,16.6,8.6,3.8,13.0,17.4,-0.22

In [17]:
games.columns

Index(['W', 'GameType', 'Wp', 'ppg', 'pApg', 'FGp', '3Pp', 'FTp', 'ORBpg',
       'RBpg', 'ASTpg', 'STLpg', 'BLKpg', 'TOpg', 'PFpg', 'sos', 'OPWp',
       'OPppg', 'OPpApg', 'OPFGp', 'OP3Pp', 'OPFTp', 'OPORBpg', 'OPRBpg',
       'OPASTpg', 'OPSTLpg', 'OPBLKpg', 'OPTOpg', 'OPPFpg', 'OPsos'],
      dtype='object')