In [11]:
import pandas as pd
import numpy as np
import pickle

In [12]:
gldf = pd.read_pickle('../data/gamelog_data_5_game_rolling.pkl')

In [13]:
df = pd.read_pickle('../model_data/gamelog_5_exp_clust.pkl')

In [14]:
odds = pd.read_pickle('../data/odds_data.pkl')

In [15]:
df.head()

,Date,W,sos,GameType,Wp,ppg,pApg,FGp,3Pp,FTp,...,OPC0,OPC1,OPC2,OPF0,OPF1,OPF2,OPG0,OPG1,OPG2,OPG3
0,2014-01-09,0,-4.12,season2014,0.200000,63.8,68.8,0.3938,0.3270,0.7078,...,0.0,0.008269,0.000000,0.085385,0.000769,0.241731,0.201346,0.0,0.260385,0.202115
1,2014-01-11,0,-4.12,season2014,0.400000,90.0,59.0,0.5052,0.3984,0.7640,...,0.0,0.000000,0.000000,0.008428,0.006115,0.368204,0.131218,0.0,0.108908,0.377128
2,2014-01-16,0,-4.12,season2014,0.375000,86.8,65.4,0.4646,0.3942,0.8012,...,0.0,0.000000,0.051880,0.103008,0.049323,0.260150,0.245865,0.0,0.001203,0.288571
3,2014-01-18,1,-4.12,season2014,0.352941,80.6,69.2,0.4454,0.4062,0.8170,...,0.0,0.011368,0.001305,0.219344,0.096906,0.065785,0.000000,0.0,0.234998,0.370294
4,2014-01-23,0,-4.12,season2014,0.388889,77.8,75.0,0.4444,0.4110,0.7930,...,0.0,0.000000,0.000000,0.039660,0.054158,0.416597,0.210132,0.0,0.279453,0.000000

In [16]:
df.W.value_counts()

0    6375
1    5595
Name: W, dtype: int64

In [34]:
odds.head()

,Date,Final,ML,Team,p,VHohe,Final_OP,ML_OP,Team_OP,p_OP,VHohe_OP,Season,vegas,actual_spread,W_odds,spread
0,2018-10-11,65.0,-330.0,west-virginia,0.767442,0.0,88.0,260.0,texas-am,0.277778,1.0,2018,1,-23.0,0,-6
1,2018-10-11,97.0,-3750.0,duke,0.974026,0.0,68.0,1875.0,elon,0.050633,1.0,2018,1,29.0,1,-11
2,2018-10-11,63.0,-550.0,richmond,0.846154,0.0,76.0,400.0,delaware,0.200000,1.0,2018,1,-13.0,0,-8
3,2018-10-11,57.0,-250.0,old-dominion,0.714286,0.0,54.0,200.0,towson,0.333333,1.0,2018,1,3.0,1,-4
4,2018-10-11,84.0,-950.0,loyola-il,0.904762,0.0,80.0,625.0,wright-state,0.137931,1.0,2018,1,4.0,1,-9

In [39]:
odds.iloc[194]

Date             2018-17-11
Final                    55
ML                   -10000
Team              milwaukee
p                  0.990099
VHohe                     0
Final_OP                 69
ML_OP                  4000
Team_OP                 NaN
p_OP              0.0243902
VHohe_OP                  1
Season                 2018
vegas                     1
actual_spread           -14
W_odds                    0
spread                  -11
Name: 194, dtype: object

In [35]:
odds.columns

Index(['Date', 'Final', 'ML', 'Team', 'p', 'VHohe', 'Final_OP', 'ML_OP',
       'Team_OP', 'p_OP', 'VHohe_OP', 'Season', 'vegas', 'actual_spread',
       'W_odds', 'spread'],
      dtype='object')

In [36]:
df.W.value_counts()

0    6375
1    5595
Name: W, dtype: int64

In [37]:
odds.W_odds.value_counts()

1    11208
0     6054
Name: W_odds, dtype: int64

In [40]:
odds_merged = pd.read_pickle('../model_data/gamelog_5_exp_clust_odds.pkl')

In [41]:
odds_merged.head()

Empty DataFrame
Columns: [Date_x, W, sos, GameType, Wp, ppg, pApg, FGp, 3Pp, FTp, ORBpg, RBpg, ASTpg, STLpg, BLKpg, TOpg, PFpg, exp_factor, C0, C1, C2, F0, F1, F2, G0, G1, G2, G3, OPsos, OPWp, OPppg, OPpApg, OPFGp, OP3Pp, OPFTp, OPORBpg, OPRBpg, OPASTpg, OPSTLpg, OPBLKpg, OPTOpg, OPPFpg, OPexp_factor, OPC0, OPC1, OPC2, OPF0, OPF1, OPF2, OPG0, OPG1, OPG2, OPG3, Date_y, Final, ML, Team, p, VHohe, Final_OP, ML_OP, Team_OP, p_OP, VHohe_OP, vegas, actual_spread, W_odds, spread]
Index: []

[0 rows x 68 columns]

In [7]:
gldf[gldf['GameType'] == 'season2018'].head()

,Date,Opp,W,sos,GameType,Ws,Wp,ppg,pApg,FGp,3Pp,FTp,ORBpg,RBpg,ASTpg,STLpg,BLKpg,TOpg,PFpg,Tm
26461,2017-11-25,south-carolina-upstate,0,-6.82,season2018,3.0,0.600000,83.8,73.6,0.5232,0.3542,0.7692,7.4,33.4,17.2,8.0,3.2,14.4,20.6,abilene-christian
26462,2017-11-26,bowling-green-state,1,-6.82,season2018,3.0,0.500000,82.2,77.6,0.5114,0.3738,0.8288,7.4,30.0,16.6,7.8,2.4,13.0,19.8,abilene-christian
26463,2017-12-06,air-force,1,-6.82,season2018,4.0,0.571429,86.0,77.6,0.5156,0.4136,0.8244,8.2,33.2,18.0,7.4,3.2,11.8,18.6,abilene-christian
26464,2017-12-09,texas-state,1,-6.82,season2018,6.0,0.666667,76.8,70.4,0.4786,0.3730,0.7372,7.4,30.6,17.2,9.0,3.6,11.6,17.6,abilene-christian
26465,2017-12-28,new-orleans,0,-6.82,season2018,7.0,0.700000,74.2,68.0,0.4666,0.3278,0.6548,7.8,29.8,16.2,8.2,4.2,10.6,17.0,abilene-christian

In [8]:
gldf.GameType.value_counts()

season2017     6489
season2018     6470
season2016     6469
season2015     6427
season2014     6420
tourney2015     173
tourney2016     168
tourney2014     162
tourney2017     153
tourney2018     115
Name: GameType, dtype: int64

In [9]:
df.columns

Index(['W', 'sos', 'GameType', 'Wp', 'ppg', 'pApg', 'FGp', '3Pp', 'FTp',
       'ORBpg', 'RBpg', 'ASTpg', 'STLpg', 'BLKpg', 'TOpg', 'PFpg',
       'exp_factor', 'C0', 'C1', 'C2', 'F0', 'F1', 'F2', 'G0', 'G1', 'G2',
       'G3', 'OPsos', 'OPWp', 'OPppg', 'OPpApg', 'OPFGp', 'OP3Pp', 'OPFTp',
       'OPORBpg', 'OPRBpg', 'OPASTpg', 'OPSTLpg', 'OPBLKpg', 'OPTOpg',
       'OPPFpg', 'OPexp_factor', 'OPC0', 'OPC1', 'OPC2', 'OPF0', 'OPF1',
       'OPF2', 'OPG0', 'OPG1', 'OPG2', 'OPG3'],
      dtype='object')

In [10]:
df.GameType.value_counts()

season2016     2372
season2017     2368
season2018     2333
season2015     2327
season2014     2321
tourney2015      59
tourney2018      52
tourney2016      51
tourney2014      46
tourney2017      41
Name: GameType, dtype: int64