https://www.sports-reference.com/cbb/seasons/2017-advanced-school-stats.html#adv_school_stats::none

In [1]:
import pandas as pd

In [2]:
team_url = 'https://www.sports-reference.com/cbb/seasons/2018-advanced-school-stats.html#adv_school_stats::none'

In [3]:
opp_url = 'https://www.sports-reference.com/cbb/seasons/2018-advanced-opponent-stats.html#adv_opp_stats::none'

In [4]:
team_df = pd.read_html(team_url)[0]
opp_df = pd.read_html(opp_url)[0]

In [6]:
team_df.head()

,Unnamed: 0_level_0,Overall,Conf.,Home,Away,Points,Unnamed: 6_level_0,School Advanced,Unnamed: 8_level_0,Unnamed: 9_level_0,...,Unnamed: 20_level_0,Unnamed: 21_level_0,Unnamed: 22_level_0,Unnamed: 23_level_0,Unnamed: 24_level_0,Unnamed: 25_level_0,Unnamed: 26_level_0,Unnamed: 27_level_0,Unnamed: 28_level_0,Unnamed: 29_level_0
,Rk,School,G,W,L,W-L%,SRS,SOS,W,L,...,3PAr,TS%,TRB%,AST%,STL%,BLK%,eFG%,TOV%,ORB%,FT/FGA
0,1,Abilene Christian,31,16,15,.516,-8.95,-6.80,8,10,...,.350,.555,49.3,55.7,11.2,11.3,.527,17.8,27.4,.226
1,2,Air Force,31,12,19,.387,-4.04,2.00,6,12,...,.431,.527,48.7,60.7,9.5,8.1,.490,16.3,27.5,.233
2,3,Akron,32,14,18,.438,-6.68,-1.78,6,12,...,.465,.547,49.1,52.6,8.4,7.5,.519,17.3,27.1,.222
3,4,Alabama A&M,31,3,28,.097,-23.88,-7.94,3,15,...,.354,.480,48.2,50.5,5.8,3.9,.450,20.9,29.4,.203
4,5,Alabama-Birmingham,33,20,13,.606,4.61,-0.94,10,8,...,.334,.575,54.9,59.2,7.7,11.5,.545,16.5,31.3,.218

In [7]:
teamcols = team_df.columns.tolist()

In [9]:
tmcols = ['Rk', 'School', 'G', 'W', 'L', 'W-L%', 'SRS', 'SOS', 'Conf-W', 'Conf-L', 'Home-W', 'Home-L', 'Away-W', 'Away-L', 
 'Points-for', 'Points-agnst', '\xa0', 'Pace', 'Tm-ORtg', 'Tm-FTr', 'Tm-3PAr', 'Tm-TS%', 'Tm-TRB%', 'Tm-AST%', 'Tm-STL%', 
          'Tm-BLK%', 'Tm-eFG%', 'Tm-TOV%', 'Tm-ORB%', 'Tm-FT/FGA']

opcols = ['Rk', 'School', 'G', 'W', 'L', 'W-L%', 'SRS', 'SOS', 'Conf-W', 'Conf-L', 'Home-W', 'Home-L', 'Away-W', 'Away-L', 
 'Points-for', 'Points-agnst', '\xa0', 'Pace', 'Op-ORtg', 'Op-FTr', 'Op-3PAr', 'Op-TS%', 'Op-TRB%', 'Op-AST%', 'Op-STL%', 
          'Op-BLK%', 'Op-eFG%', 'Op-TOV%', 'Op-ORB%', 'Op-FT/FGA']

In [10]:
team_df.columns = tmcols
opp_df.columns = opcols

In [17]:
team_df = team_df.drop(['\xa0'], axis=1)
opp_df = opp_df.drop(['\xa0'], axis=1)
team_df = team_df.drop(['Rk'], axis=1)
opp_df = opp_df.drop(['Rk'], axis=1)

In [18]:
team_df.columns

Index(['School', 'G', 'W', 'L', 'W-L%', 'SRS', 'SOS', 'Conf-W', 'Conf-L',
       'Home-W', 'Home-L', 'Away-W', 'Away-L', 'Points-for', 'Points-agnst',
       'Pace', 'Tm-ORtg', 'Tm-FTr', 'Tm-3PAr', 'Tm-TS%', 'Tm-TRB%', 'Tm-AST%',
       'Tm-STL%', 'Tm-BLK%', 'Tm-eFG%', 'Tm-TOV%', 'Tm-ORB%', 'Tm-FT/FGA'],
      dtype='object')

In [20]:
opp_df = opp_df[['Op-ORtg', 'Op-FTr', 'Op-3PAr', 'Op-TS%', 'Op-TRB%', 'Op-AST%', 'Op-STL%', 
          'Op-BLK%', 'Op-eFG%', 'Op-TOV%', 'Op-ORB%', 'Op-FT/FGA']]

In [22]:
team_df = pd.concat([team_df, opp_df], axis=1)

In [24]:
team_df.columns

Index(['School', 'G', 'W', 'L', 'W-L%', 'SRS', 'SOS', 'Conf-W', 'Conf-L',
       'Home-W', 'Home-L', 'Away-W', 'Away-L', 'Points-for', 'Points-agnst',
       'Pace', 'Tm-ORtg', 'Tm-FTr', 'Tm-3PAr', 'Tm-TS%', 'Tm-TRB%', 'Tm-AST%',
       'Tm-STL%', 'Tm-BLK%', 'Tm-eFG%', 'Tm-TOV%', 'Tm-ORB%', 'Tm-FT/FGA',
       'Op-ORtg', 'Op-FTr', 'Op-3PAr', 'Op-TS%', 'Op-TRB%', 'Op-AST%',
       'Op-STL%', 'Op-BLK%', 'Op-eFG%', 'Op-TOV%', 'Op-ORB%', 'Op-FT/FGA'],
      dtype='object')