In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.model_selection import cross_val_score
from fancyimpute import KNN
from sklearn import metrics
import re
import csv

/Users/sec/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [2]:
odds2018 = '/Users/sec/galvanize/bracket_buster/odds_data/ncaa_basketball_2017-18.xlsx'
odds2017 = '/Users/sec/galvanize/bracket_buster/odds_data/ncaa_basketball_2016-17.xlsx'
odds2016 = '/Users/sec/galvanize/bracket_buster/odds_data/ncaa_basketball_2015-16.xlsx'
odds2015 = '/Users/sec/galvanize/bracket_buster/odds_data/ncaa_basketball_2014-15.xlsx'
odds2014 = '/Users/sec/galvanize/bracket_buster/odds_data/ncaa_basketball_2013-14.xlsx'
# odds2013 = '/Users/sec/galvanize/bracket_buster/odds_data/ncaa_basketball_2012-13.xlsx'

In [3]:
odds2018_df = pd.read_excel(odds2018, header=0)
odds2017_df = pd.read_excel(odds2017, header=0)
odds2016_df = pd.read_excel(odds2016, header=0)
odds2015_df = pd.read_excel(odds2015, header=0)
odds2014_df = pd.read_excel(odds2014, header=0)
# odds2013_df = pd.read_excel(odds2013, header=0)

In [4]:
def date_test(row):
    '''Updates date format to prepare for unique ID generation'''
    row['Date'] = str(row['Date'])
    if len(row['Date']) == 3: 
        row['month'] = '0' + row['Date'][:1]
    else:
        row['month'] = row['Date'][:2]
    row['day'] = row['Date'][-2:]
    row['Date'] = '{}-{}-{}'.format('2018', str(row['month']), str(row['day']))
    return row

In [5]:
odds2014_df.tail()

      Date  Rot VH         Team  1st  2nd  Final Open Close    ML    2H
7837   405  816  N    Wisconsin   40   33     73  139    pk  -105  76.5
7838   405  817  V  FresnoState   22   46     68    1     2  -135   4.5
7839   405  818  H        Siena   39   42     81  137   133   115  72.5
7840   407  601  N     Kentucky   31   23     54    3   2.5  -145     3
7841   407  602  N  Connecticut   35   25     60  134   135   125  72.5

In [6]:
# date_df = odds2014_df.apply(date_test, axis=1)
# date_df.tail()

In [7]:
# date_df.head()

## Update Team Names

In [8]:
# teams_df = odds2018_df.Team.value_counts()
# teams_df = pd.DataFrame(teams_df)
# teams_df.to_csv('new_odds_teams.csv')

### matched up names in csv

In [9]:
odds_teams_lookup_filepath = '../odds_teams_lookup.csv'

In [10]:
def odds_teams_dict(filepath):
    '''
    Create dictionary of school names and formatted school names for mapping
    '''
    team_names = pd.read_csv(filepath)
    team_names = team_names[['Teams', 'school']]
    team_dict = {}
    schools = team_names['Teams'].tolist()
    schools_format = team_names['school'].tolist()
    for school, schform in zip(schools, schools_format):
        team_dict[school] = schform
    return team_dict

In [11]:
def update_team_names(df):
    df['Team'] = df['Team'].map(odds_teams_dict(odds_teams_lookup_filepath))
    return df

In [12]:
odds_dfs = [odds2018_df, odds2017_df, odds2016_df, odds2015_df, odds2014_df]

### Impute NaNs

In [13]:
def string_split(df):
    '''Used in impute data function to split string data into separate df'''
    string_df = df[['VH', 'Team']]
    df = df.drop(['VH', 'Team'], axis=1)
    return string_df, df

In [14]:
def string_to_nan(row):
    '''Used in impute_data funciton to force strings in numeric df to NaNs'''
    row = pd.to_numeric(row, errors='coerce')
    return row

In [15]:
def impute_data(df):
    '''
    Input: DataFrame
    Output: DataFrame with imputted missing values
    '''
    
    # Split out string columns into separate df
    string_df, df = string_split(df)
    
    # save col names
    string_df_cols = string_df.columns.tolist()
    df_cols = df.columns.tolist()
    
    # Convert strings to NaNs
    df = df.apply(string_to_nan, axis=1)
    
    #impute NaNs in df
    X = df.values
    X_filled = KNN(k=3, verbose=False).complete(X)
    df = pd.DataFrame(X_filled, columns=df_cols)
    df = pd.merge(df, string_df, how='left', left_index=True, right_index=True)
    return df

In [16]:
# odds2018_df = impute_data(odds2018_df)

In [17]:
# odds2018_df.iloc[5510: 5520]

## Feature Engineer

In [18]:
def prob(row):
    '''calc probability from ML'''
    if row['ML'] < 0:
        row['p'] = int(row['ML']) / int((row['ML']) - 100)
    elif row['ML'] > 0:
        row['p'] = 100 / int((row['ML']) + 100)
    return row

In [19]:
def spread(row):
    if row['p'] <= .5:
        row['spread'] = int(25 * row['p'] + -12)
    else:
        row['spread'] = int(-25 * row['p'] + 13)
    return row

In [20]:
def outcome(row):
    '''Adds vegas prediction, actual spread and actual W features'''
    if row['ML'] < 0:
        row['vegas'] = 1
    else:
        row['vegas'] = 0
    
    row['actual_spread'] = row['Final'] - row['Final_v']
    
    if row['actual_spread'] > 0:
        row['W'] = 1
    else:
        row['W'] = 0
    
    return row

In [21]:
def month_day(row):
    '''Updates date format to prepare for unique ID generation'''
    row['Date'] = str(row['Date'])
    if len(row['Date']) == 3: 
        row['month'] = '0' + row['Date'][:1]
    else:
        row['month'] = row['Date'][:2]
    row['day'] = row['Date'][-2:]
   
    return row

In [22]:
def date(df, season):
    df = df.apply(month_day, axis=1)
    df['Season'] = season
    df['Date'] = '{}-{}-{}'.format(str(df['Season']), str(df['month']), str(df['day']))
    df = df.drop(['month', 'day'], axis=1)
    return df

In [ ]:
def test_date(row):
    '''Updates date format to prepare for unique ID generation'''
    row['Date'] = str(row['Date'])
    if len(row['Date']) == 3: 
        row['month'] = '0' + row['Date'][:1]
    else:
        row['month'] = row['Date'][:2]
    row['day'] = row['Date'][-2:]
    row['Date'] = '{}-{}-{}'.format(str(row['Season']), str(row['month']), str(row['day']))
    return row

In [23]:
def matchups(df):
    
    # Drop uneeded columns
    df = df.drop(['1st', '2H', '2nd'], axis=1)
    
    # Add probability of winning column
    df = df.apply(prob, axis=1)
    
    # One hot encode VH column for counting
    df['VHohe'] = df['VH'].map({'V': 1, 'H': 0})
    
    # Create count column to use as merge ID
    df['count'] = df.groupby('VHohe').cumcount() + 1
    
    # Split df in to visitor and home team dfs
    df_v = df[df['VH'] == 'V']
    df_h = df[df['VH'] == 'H']
    
    # update column names for visitors df
    v_cols = df_v.columns.tolist()
    v_cols = ['{}_v'.format(col) if col != 'count' else col for col in v_cols]
    df_v.columns = v_cols
    
    # Merge on count
    df = pd.merge(df_h, df_v, how='left', on='count')
    
    # Drop uneeded columns
    df = df.drop(['Rot', 'VH', 'VH_v', 'Date_v', 'Rot_v', 'Open', 'Close', 
                  'Open_v', 'Close_v', 'Season_v'], axis=1)

    
    # Add outcome
    df = df.apply(outcome, axis=1)
    
    # spread
    df = df.apply(spread, axis=1)

    
    return df

In [24]:
# odds2018_df = impute_data(odds2018_df)
# odds2018_df = matchups(odds2018_df, 2018)
# odds2018_df = odds2018_df.apply(outcome, axis=1)
# odds2017_df = odds2017_df.apply(prob, axis=1)
# odds2016_df = odds2016_df.apply(prob, axis=1)
# odds2015_df = odds2015_df.apply(prob, axis=1)
# odds2014_df = odds2014_df.apply(prob, axis=1)
# odds2013_df = odds2013_df.apply(prob, axis=1)

In [25]:
odds2018_df.head()

   Date  Rot VH          Team  1st  2nd  Final   Open  Close     ML    2H
0  1110  517  V      TexasA&M   45   43     88    141    143    260  77.5
1  1110  518  H  WestVirginia   38   27     65      6      7   -330   5.5
2  1110  519  V          Elon   25   43     68  155.5  156.5   1875    79
3  1110  520  H          Duke   45   52     97   18.5   19.5  -3750     7
4  1110  521  V      Delaware   49   27     76  143.5  140.5    400    74

In [26]:
# odds2018_df.Team_v.value_counts()

In [27]:
# odds2018_df.head()

In [28]:
# odds2018_df = odds2018_df.apply(outcome, axis=1)

In [29]:
# odds2018_df.head()

In [30]:
# actual = odds2018_df.W
# vegas = odds2018_df.vegas

In [31]:
# metrics.accuracy_score(actual, vegas)

# Update all dfs then

In [32]:
# odds2018_df.head()

In [33]:
def odds_merge_id(row):
#     row['matchup'] = ",".join(sorted([row['Team'], row['Team_v']]))
    row['ID'] = '{},{}'.format(",".join(sorted([row['Team'], row['Team_v']])), row['Date'])
    return row

In [34]:
# odds2018_df = odds2018_df.apply(odds_merge_id, axis=1)

In [35]:
# odds2018_df.head()

In [38]:
def set_up_odds_data(df_list, season_list=[2018, 2017, 2016, 2015, 2014]):
    odds_df = pd.DataFrame()
    for df, season in zip(df_list, season_list):
        df['Season'] = season
        df = df.apply(test_date, axis=1)
        df = impute_data(df)
        df = matchups(df)
        df = df.apply(outcome, axis=1)
        df = df.apply(odds_merge_id, axis=1)
        odds_df = odds_df.append(df, ignore_index=True)
    return odds_df

In [39]:
odds_df = set_up_odds_data(odds_dfs)

In [40]:
odds_df.Season.value_counts()

2015    3487
2016    3482
2018    3469
2017    3455
2014    3369
Name: Season, dtype: int64

In [41]:
odds_df.tail(50)

,Date,Final,ML,Team,Season,p,VHohe,count,Final_v,ML_v,Team_v,p_v,VHohe_v,vegas,actual_spread,W,spread,ID
17212,0 2014\n1 2014\n2 2014\n3 ...,69.0,-730.0,PennState,2014,0.879518,0.0,3320,65.0,555.0,Hampton,0.152672,1.0,1,4.0,1,-8,"Hampton,PennState,0 2014\n1 2014\n..."
17213,0 2014\n1 2014\n2 2014\n3 ...,55.0,340.0,Tulane,2014,0.227273,0.0,3321,56.0,-430.0,Princeton,0.811321,1.0,0,-1.0,0,-6,"Princeton,Tulane,0 2014\n1 2014\n2..."
17214,0 2014\n1 2014\n2 2014\n3 ...,77.0,-285.0,IllinoisState,2014,0.740260,0.0,3322,67.0,235.0,MoreheadState,0.298507,1.0,1,10.0,1,-5,"IllinoisState,MoreheadState,0 2014\n1 ..."
17215,0 2014\n1 2014\n2 2014\n3 ...,59.0,-235.0,TexasA&M,2014,0.701493,0.0,3323,43.0,200.0,Wyoming,0.333333,1.0,1,16.0,1,-4,"TexasA&M,Wyoming,0 2014\n1 2014\n2..."
17216,0 2014\n1 2014\n2 2014\n3 ...,56.0,-235.0,UTEP,2014,0.701493,0.0,3324,61.0,200.0,FresnoState,0.333333,1.0,1,-5.0,0,-4,"FresnoState,UTEP,0 2014\n1 2014\n2..."
17217,0 2014\n1 2014\n2 2014\n3 ...,92.0,-1080.0,OregonState,2014,0.915254,0.0,3325,96.0,780.0,Radford,0.113636,1.0,1,-4.0,0,-9,"OregonState,Radford,0 2014\n1 2014..."
17218,0 2014\n1 2014\n2 2014\n3 ...,69.0,-195.0,Yale,2014,0.661017,0.0,3326,68.0,170.0,Quinnipiac,0.370370,1.0,1,1.0,1,-3,"Quinnipiac,Yale,0 2014\n1 2014\n2 ..."
17219,0 2014\n1 2014\n2 2014\n3 ...,60.0,-175.0,USCUpstate,2014,0.636364,0.0,3327,63.0,155.0,Towson,0.392157,1.0,1,-3.0,0,-2,"Towson,USCUpstate,0 2014\n1 2014\n..."
17220,0 2014\n1 2014\n2 2014\n3 ...,64.0,-120.0,Ohio,2014,0.545455,0.0,3328,62.0,100.0,ClevelandState,0.500000,1.0,1,2.0,1,0,"ClevelandState,Ohio,0 2014\n1 2014..."
17221,0 2014\n1 2014\n2 2014\n3 ...,97.0,-150.0,IPFW,2014,0.600000,0.0,3329,91.0,130.0,Akron,0.434783,1.0,1,6.0,1,-2,"Akron,IPFW,0 2014\n1 2014\n2 ..."
17222,0 2014\n1 2014\n2 2014\n3 ...,63.0,-200.0,MissouriSt,2014,0.666667,0.0,3330,66.0,170.0,MurrayState,0.370370,1.0,1,-3.0,0,-3,"MissouriSt,MurrayState,0 2014\n1 2..."
17223,0 2014\n1 2014\n2 2014\n3 ...,91.0,-275.0,NebraskaOmaha,2014,0.733333,0.0,3331,75.0,225.0,NorthDakota,0.307692,1.0,1,16.0,1,-5,"NebraskaOmaha,NorthDakota,0 2014\n1 ..."
17224,0 2014\n1 2014\n2 2014\n3 ...,71.0,-310.0,No.Colorado,2014,0.756098,0.0,3332,82.0,250.0,TexasA&MCorpus,0.285714,1.0,1,-11.0,0,-5,"No.Colorado,TexasA&MCorpus,0 2014\n1 ..."
17225,0 2014\n1 2014\n2 2014\n3 ...,67.0,140.0,GrandCanyon,2014,0.416667,0.0,3333,69.0,-160.0,Pacific,0.615385,1.0,0,-2.0,0,-1,"GrandCanyon,Pacific,0 2014\n1 2014..."
17226,0 2014\n1 2014\n2 2014\n3 ...,82.0,-500.0,Belmont,2014,0.833333,0.0,3334,71.0,375.0,RobertMorris,0.210526,1.0,1,11.0,1,-7,"Belmont,RobertMorris,0 2014\n1 201..."
17227,0 2014\n1 2014\n2 2014\n3 ...,77.0,130.0,ETennesseeSt,2014,0.434783,0.0,3335,83.0,-150.0,Towson,0.600000,1.0,0,-6.0,0,-1,"ETennesseeSt,Towson,0 2014\n1 2014..."
17228,0 2014\n1 2014\n2 2014\n3 ...,71.0,100.0,Georgia,2014,0.500000,0.0,3336,79.0,-120.0,LouisianaTech,0.545455,1.0,0,-8.0,0,0,"Georgia,LouisianaTech,0 2014\n1 20..."
17229,0 2014\n1 2014\n2 2014\n3 ...,106.0,130.0,VMI,2014,0.434783,0.0,3337,95.0,-150.0,IPFW,0.600000,1.0,0,11.0,1,-1,"IPFW,VMI,0 2014\n1 2014\n2 2..."
17230,0 2014\n1 2014\n2 2014\n3 ...,56.0,-160.0,Ohio,2014,0.615385,0.0,3338,54.0,140.0,WrightState,0.416667,1.0,1,2.0,1,-2,"Ohio,WrightState,0 2014\n1 2014\n2..."
17231,0 2014\n1 2014\n2 2014\n3 ...,66.0,-190.0,HolyCross,2014,0.655172,0.0,3339,71.0,165.0,Yale,0.377358,1.0,1,-5.0,0,-3,"HolyCross,Yale,0 2014\n1 2014\n2 ..."
17232,0 2014\n1 2014\n2 2014\n3 ...,69.0,-170.0,Columbia,2014,0.629630,0.0,3340,56.0,150.0,EasternMichigan,0.400000,1.0,1,13.0,1,-2,"Columbia,EasternMichigan,0 2014\n1 ..."
17233,0 2014\n1 2014\n2 2014\n3 ...,72.0,-155.0,SamHoustonSt,2014,0.607843,0.0,3341,77.0,135.0,SanDiego,0.425532,1.0,1,-5.0,0,-2,"SamHoustonSt,SanDiego,0 2014\n1 20..."
17234,0 2014\n1 2014\n2 2014\n3 ...,89.0,-430.0,Pacific,2014,0.811321,0.0,3342,60.0,340.0,TexasA&MCorpus,0.227273,1.0,1,29.0,1,-7,"Pacific,TexasA&MCorpus,0 2014\n1 2..."
17235,0 2014\n1 2014\n2 2014\n3 ...,63.0,-310.0,MinnesotaU,2014,0.756098,0.0,3343,55.0,250.0,SaintMarysCA,0.285714,1.0,1,8.0,1,-5,"MinnesotaU,SaintMarysCA,0 2014\n1 ..."
17236,0 2014\n1 2014\n2 2014\n3 ...,50.0,-195.0,Clemson,2014,0.661017,0.0,3344,49.0,170.0,Illinois,0.370370,1.0,1,1.0,1,-3,"Clemson,Illinois,0 2014\n1 2014\n2..."
17237,0 2014\n1 2014\n2 2014\n3 ...,63.0,-200.0,Missouri,2014,0.666667,0.0,3345,71.0,175.0,SouthernMiss,0.363636,1.0,1,-8.0,0,-3,"Missouri,SouthernMiss,0 2014\n1 20..."
17238,0 2014\n1 2014\n2 2014\n3 ...,101.0,-155.0,FloridaState,2014,0.607843,0.0,3346,90.0,135.0,Georgetown,0.425532,1.0,1,11.0,1,-2,"FloridaState,Georgetown,0 2014\n1 ..."
17239,0 2014\n1 2014\n2 2014\n3 ...,80.0,-320.0,SMU,2014,0.761905,0.0,3347,67.0,260.0,LSU,0.277778,1.0,1,13.0,1,-6,"LSU,SMU,0 2014\n1 2014\n2 20..."
17240,0 2014\n1 2014\n2 2014\n3 ...,75.0,-145.0,California,2014,0.591837,0.0,3348,64.0,125.0,Arkansas,0.444444,1.0,1,11.0,1,-1,"Arkansas,California,0 2014\n1 2014..."
17241,0 2014\n1 2014\n2 2014\n3 ...,82.0,-340.0,OldDominion,2014,0.772727,0.0,3349,59.0,270.0,Radford,0.270270,1.0,1,23.0,1,-6,"OldDominion,Radford,0 2014\n1 2014..."
17242,0 2014\n1 2014\n2 2014\n3 ...,54.0,185.0,Siena,2014,0.350877,0.0,3350,52.0,-215.0,PennState,0.682540,1.0,0,2.0,1,-3,"PennState,Siena,0 2014\n1 2014\n2 ..."
17243,0 2014\n1 2014\n2 2014\n3 ...,62.0,-160.0,IllinoisState,2014,0.615385,0.0,3351,55.0,140.0,TexasA&M,0.416667,1.0,1,7.0,1,-2,"IllinoisState,TexasA&M,0 2014\n1 2..."
17244,0 2014\n1 2014\n2 2014\n3 ...,72.0,-160.0,FresnoState,2014,0.615385,0.0,3352,56.0,140.0,Princeton,0.416667,1.0,1,16.0,1,-2,"FresnoState,Princeton,0 2014\n1 20..."
17245,0 2014\n1 2014\n2 2014\n3 ...,86.0,-265.0,MurrayState,2014,0.726027,0.0,3353,62.0,215.0,NebraskaOmaha,0.317460,1.0,1,24.0,1,-5,"MurrayState,NebraskaOmaha,0 2014\n1 ..."
17246,0 2014\n1 2014\n2 2014\n3 ...,73.0,-330.0,Clemson,2014,0.767442,0.0,3354,68.0,270.0,Belmont,0.270270,1.0,1,5.0,1,-6,"Belmont,Clemson,0 2014\n1 2014\n2 ..."
17247,0 2014\n1 2014\n2 2014\n3 ...,81.0,-225.0,MinnesotaU,2014,0.692308,0.0,3355,73.0,189.0,SouthernMiss,0.346021,1.0,1,8.0,1,-4,"MinnesotaU,SouthernMiss,0 2014\n1 ..."
17248,0 2014\n1 2014\n2 2014\n3 ...,61.0,-140.0,Siena,2014,0.583333,0.0,3356,49.0,120.0,IllinoisState,0.454545,1.0,1,12.0,1,-1,"IllinoisState,Siena,0 2014\n1 2014..."
17249,0 2014\n1 2014\n2 2014\n3 ...,71.0,-365.0,FresnoState,2014,0.784946,0.0,3357,64.0,295.0,OldDominion,0.253165,1.0,1,7.0,1,-6,"FresnoState,OldDominion,0 2014\n1 ..."
17250,0 2014\n1 2014\n2 2014\n3 ...,69.0,-215.0,Columbia,2014,0.682540,0.0,3358,72.0,185.0,Yale,0.350877,1.0,1,-3.0,0,-4,"Columbia,Yale,0 2014\n1 2014\n2 ..."
17251,0 2014\n1 2014\n2 2014\n3 ...,90.0,-470.0,Ohio,2014,0.824561,0.0,3359,92.0,370.0,VMI,0.212766,1.0,1,-2.0,0,-7,"Ohio,VMI,0 2014\n1 2014\n2 2..."
17252,0 2014\n1 2014\n2 2014\n3 ...,75.0,-225.0,Pacific,2014,0.692308,0.0,3360,60.0,190.0,SanDiego,0.344828,1.0,1,15.0,1,-4,"Pacific,SanDiego,0 2014\n1 2014\n2..."
17253,0 2014\n1 2014\n2 2014\n3 ...,78.0,-160.0,FloridaState,2014,0.615385,0.0,3361,75.0,140.0,LouisianaTech,0.416667,1.0,1,3.0,1,-2,"FloridaState,LouisianaTech,0 2014\n1 ..."
17254,0 2014\n1 2014\n2 2014\n3 ...,67.0,-410.0,SMU,2014,0.803922,0.0,3362,65.0,330.0,California,0.232558,1.0,1,2.0,1,-7,"California,SMU,0 2014\n1 2014\n2 ..."
17255,0 2014\n1 2014\n2 2014\n3 ...,85.0,-170.0,MurrayState,2014,0.629630,0.0,3363,73.0,145.0,Towson,0.408163,1.0,1,12.0,1,-2,"MurrayState,Towson,0 2014\n1 2014\..."
17256,0 2014\n1 2014\n2 2014\n3 ...,57.0,-390.0,FresnoState,2014,0.795918,0.0,3364,61.0,315.0,Siena,0.240964,1.0,1,-4.0,0,-6,"FresnoState,Siena,0 2014\n1 2014\n..."
17257,0 2014\n1 2014\n2 2014\n3 ...,62.0,-125.0,VMI,2014,0.555556,0.0,3365,75.0,105.0,Yale,0.487805,1.0,1,-13.0,0,0,"VMI,Yale,0 2014\n1 2014\n2 2..."
17258,0 2014\n1 2014\n2 2014\n3 ...,98.0,-275.0,MurrayState,2014,0.733333,0.0,3366,75.0,227.0,Pacific,0.305810,1.0,1,23.0,1,-5,"MurrayState,Pacific,0 2014\n1 2014..."
17259,0 2014\n1 2014\n2 2014\n3 ...,75.0,-129.0,Siena,2014,0.563319,0.0,3367,89.0,108.0,FresnoState,0.480769,1.0,1,-14.0,0,-1,"FresnoState,Siena,0 2014\n1 2014\n..."
17260,0 2014\n1 2014\n2 2014\n3 ...,65.0,-430.0,MurrayState,2014,0.811321,0.0,3368,57.0,340.0,Yale,0.227273,1.0,1,8.0,1,-7,"MurrayState,Yale,0 2014\n1 2014\n2..."
17261,0 2014\n1 2014\n2 2014\n3 ...,81.0,115.0,Siena,2014,0.465116,0.0,3369,68.0,-135.0,FresnoState,0.574468,1.0,0,13.0,1,0,"FresnoState,Siena,0 2014\n1 2014\n..."

In [42]:
odds_df = odds_df.apply(odds_merge_id, axis=1)

In [43]:
odds_df.ID.head()

0    TexasA&M,WestVirginia,0       2018\n1       20...
1    Duke,Elon,0       2018\n1       2018\n2       ...
2    Delaware,Richmond,0       2018\n1       2018\n...
3    OldDominion,Towson,0       2018\n1       2018\...
4    LoyolaChicago,WrightState,0       2018\n1     ...
Name: ID, dtype: object