In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import date
import time
import pickle

In [2]:
def school_name_transform(school_name):
    school_name = school_name.lower()
    school_name = school_name.replace(" & ", " ")
    school_name = school_name.replace("&", "")
    school_name = school_name.replace("ncaa", "")
    school_name = school_name.strip()
    school_name = school_name.replace(" ", "-")
    school_name = school_name.replace("(", "")
    school_name = school_name.replace(")", "")
    school_name = school_name.replace(".", "")
    school_name = school_name.replace("'", "")
    
    if school_name == 'siu-edwardsville':
        school_name = 'southern-illinois-edwardsville'
    elif school_name == 'vmi':
        school_name = 'virginia-military-institute'
    elif school_name == 'uc-davis':
        school_name = 'california-davis'
    elif school_name == 'uc-irvine':
        school_name = 'california-irvine'
    elif school_name == 'uc-riverside':
        school_name = 'california-riverside'
    elif school_name == 'uc-santa-barbara':
        school_name = 'california-santa-barbara'
    
    return school_name

In [3]:
def sos_csv_creator(seasons):
    '''
    Inputs:
        team = team (formatted as in url)
        season = season year

    Output: DataFrame of all games
    '''
    sos_df = pd.DataFrame()

    for season in seasons:

        url = 'https://www.sports-reference.com/cbb/seasons/{}-school-stats.html#basic_school_stats::none'.format(season)

        '''Read season school stats'''
        df = pd.read_html(url)[0]

        '''Transform'''

        '''Remove double Headers'''
        dub_header = df.columns.tolist()
        cols = [col[1].lower() for col in dub_header]
        df.columns = cols

        '''Pick needed columns'''
        df = df[['school', 'sos']]

        '''Add school-format column'''
        df['school-format'] = df['school']

        '''Add season column'''
        df['season'] = season

        '''Update School Names'''
        df['school-format'] = df['school-format'].apply(school_name_transform)

        '''Remove divider rows'''
        df = df[df['school'] != 'overall'] 
        df = df[df['school'] != 'school']
        df.reset_index(inplace=True, level=None)
        df = df.drop(['index'], axis=1)

        '''Transform to dict'''
        df.to_csv('../sos/sos_list{}.csv'.format(season))

        time.sleep(15)

In [4]:
df = sos_csv_creator([2018])

In [5]:
df = pd.read_csv('../sos/sos_list2018.csv', index_col=0)

In [6]:
df.head()

               school    sos       school-format  season
0   Abilene Christian  -6.82   abilene-christian    2018
1           Air Force   1.72           air-force    2018
2               Akron  -1.92               akron    2018
3         Alabama A&M  -8.04          alabama-am    2018
4  Alabama-Birmingham  -0.65  alabama-birmingham    2018